@media screen and (max-width:1133px) {

    html {
        font-size: 13px;
    }

    .wrap-2 .navbar li:nth-child(6) {
        display: none;
    }

    .wrap-2 .logo a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:968px) {

    .wrap-2 .navbar li:nth-child(5) {
        display: none;
    }

    .wrap-2 .collapse {
        position: absolute;
        background-color: #393232f1;
        z-index: 2;
        top: 26px;
        width: 50%;
        height: auto;
        left: 0px;
        flex-direction: column;
        left: -100%;
        transition: all 0.3s;
    }

    .wrap-2 .collapse .navbar {
        flex-direction: column;
    }

    .wrap-2 .collapse .navbar li a {
        padding: 1rem 0;
        margin: 1rem;
    }

    .wrap-2 .table-booking {
        padding: 5px;
        margin-left: 12px;
        font-size: 14px;
        max-width: 100px;
    }

    .active {
        left: 0 !important
    }

    .menuBtn {
        display: block;
        width: 75%;
        padding: 5px 5px;
        font-size: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    .wrap-3 h2 {
        font-size: 5rem;
    }

    .wrap-3 p {
        font-size: 2rem;
        padding: 10px 0;
        margin: 10px 0
    }

    .wrap-3 a {
        margin-top: 5px;
    }

    .wrap-5 .specialRecipes {
        padding: 11px;
    }

    .wrap-5 .specialRecipes h3 {
        font-size: 2rem;
        letter-spacing: 1px;
    }



}

@media screen and (max-width:768px) {
    .col-t-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .flex-column {
        flex-direction: column;
    }

    .aboutUsSection {
        flex-direction: column;
    }

    .aboutUsImages {
        order: 1;
    }

    .wrap-4 img {
        margin-top: 0;
    }

    .sideImage {
        display: none;
    }

    .wrap-5 .recipeSection {
        flex-direction: column;
    }

    .specialRecipes {
        left: 0
    }

    .wrap-5 img {
        width: 100%;
        height: 30%
    }

    .leftSideImage img {
        display: none;
    }

    .wrap-4 {
        margin: 30px 0;
    }

    .wrap-5 {
        margin: 15px 0;
    }

    .wrap-6 h3 {
        font-size: 2rem;
    }

    .wrap-7 {
        margin: 40px 0;
    }

    .deliciousImage img {
        border-radius: 50%;
    }

    .wrap-7 .deliciousSection {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .menuCard-1 {
        left: 5%;
    }

    .menuCard-2 {
        right: -5%;
    }

    .menuCard-3 {
        left: 5%;
    }

    .menuCard {
        top: -90px;
        width: 90%;
        text-align: center;
        padding: 10px;
    }

    .mobile-icon {
        display: none;
    }

    .mobileLinks {
        justify-content: center;
    }

    .mobileLinksSection {
        text-align: center;
    }

    .wrap-9 .footer {
        flex-direction: column;
    }

    .wrap-9 h2 {
        text-align: center;
    }

    form label:nth-child(5) {
        text-align: center;
    }

}

@media screen and (max-width:450px) {
    .wrap-3 h2 {
        font-size: 4rem;
        line-height: 100px;
    }
    .wrap-8 .mobileLinksSection {
        font-size: 1.3rem;
    }

}